<div id="registration" class="box gainsboro box-left signin-box">
	<div id="signin">
		<div class="signin-header">
			Registration
		</div>
		<div id="signin-content">
			<div id="control-user" class="signin-control">
				<label id="reg-user-label" class="sigin-control-label" for="reg-user">Username</label>
				<input type="text" id="reg-user" value="" />
			</div>
			<div id="control-email" class="signin-control">
				<label id="reg-email-label" class="sigin-control-label" for="reg-email">Email</label>
				<input type="text" id="reg-email" value="" />
			</div>
			<div id="control-pass" class="signin-control">
				<div id="pass-strength">
				</div>
				<label id="reg-pass-label" class="sigin-control-label" for="reg-pass">Password</label>
				<input type="password" id="reg-pass" value="" />
			</div>
			<div class="signin-control">
				<div id="reg-error-message" class="error"></div>
			</div>
			<div class="signin-control">
				<button id="register-button" class="button blue">Register</button>
				<a href="#/signin" class="control cancel">Cancel</a>
			</div>
		</div>
	</div>
</div>