
<div class="signin-text">
	<p>You can sign-in using either your Google account or by registering a new email/username-password. If you choose to sign-in using Google, you will just need to register a username afterwards.</p>
	<p>If you already made a previous registration, just sign-in with whatever method you wish.</p>
</div>
<div id="signin" class="box gainsboro box-left signin-box">
	<div class="signin">
		<div class="signin-header">
			Sign In
		</div>
		<div id="signin-content">
			<div class="signin-section" id="signin-oauth">
				<h3>Sign In with</h3>
			</div>
			<div class="signin-section">
				<h3>Or</h3>
			</div>
			<div class="signin-control">
				<label id="email-label" class="signin-control-label" for="email">Email/Username</label>
				<input type="text" id="email" value="" />
			</div>
			<div class="signin-control">
				<label id="password-label" class="signin-control-label" for="password">Password</label>
				<input type="password" id="password" value="" />
			</div>
			<div class="signin-control">
				<div id="error-message" class="error"></div>
			</div>
			<div class="signin-control">
				<button id="signin-button" class="button blue">Sign In</button>
				<a href="#/registration" class="control registration">Register</a>
			</div>
		</div>
	</div>
</div>